.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre10 {
    height: 800px;
    text-align: middle;
    width: 514px
    }
.calibre11 {
    height: 930px;
    text-align: middle;
    width: 696px
    }
.calibre12 {
    height: 918px;
    text-align: middle;
    width: 690px
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre14 {
    height: 35px;
    vertical-align: baseline;
    width: 271px
    }
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre16 {
    display: block
    }
.calibre17 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre19 {
    height: 425px;
    vertical-align: baseline;
    width: 556px
    }
.calibre2 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre20 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-indent: 34%
    }
.calibre21 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    text-indent: 2em
    }
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    text-align: center;
    text-indent: 0
    }
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 2em
    }
.calibre24 {
    font-size: 0.75em
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre26 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre27 {
    font-size: 0.77778em
    }
.calibre28 {
    font-size: 0.71429em
    }
.calibre29 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre30 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-indent: 2em
    }
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre32 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre33 {
    height: 500px;
    text-align: middle;
    width: 304px
    }
.calibre34 {
    height: 589px;
    text-align: middle;
    width: 600px
    }
.calibre35 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-indent: 2em
    }
.calibre36 {
    height: 170px;
    text-align: middle;
    width: 247px
    }
.calibre37 {
    height: 325px;
    text-align: middle;
    width: 436px
    }
.calibre38 {
    height: 385px;
    text-align: middle;
    width: 486px
    }
.calibre39 {
    height: 259px;
    text-align: middle;
    width: 248px
    }
.calibre4 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre40 {
    height: 600px;
    text-align: middle;
    width: 497px
    }
.calibre41 {
    height: 560px;
    text-align: middle;
    width: 700px
    }
.calibre42 {
    height: 273px;
    text-align: middle;
    width: 500px
    }
.calibre43 {
    height: 59px;
    text-align: middle;
    width: 60px
    }
.calibre44 {
    height: 500px;
    text-align: middle;
    width: 357px
    }
.calibre45 {
    height: 700px;
    text-align: middle;
    width: 468px
    }
.calibre46 {
    height: 209px;
    text-align: middle;
    width: 309px
    }
.calibre47 {
    height: 499px;
    text-align: middle;
    width: 328px
    }
.calibre48 {
    height: 34px;
    text-align: middle;
    width: 33px
    }
.calibre49 {
    height: 58px;
    text-align: middle;
    width: 60px
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre50 {
    height: 506px;
    text-align: middle;
    width: 481px
    }
.calibre51 {
    height: 606px;
    text-align: middle;
    width: 500px
    }
.calibre52 {
    height: 457px;
    text-align: middle;
    width: 310px
    }
.calibre53 {
    height: 600px;
    text-align: middle;
    width: 381px
    }
.calibre54 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-align: center;
    text-indent: 0
    }
.calibre55 {
    height: 238px;
    text-align: middle;
    width: 188px
    }
.calibre56 {
    height: 302px;
    text-align: middle;
    width: 310px
    }
.calibre57 {
    height: 379px;
    text-align: middle;
    width: 500px
    }
.calibre58 {
    height: 337px;
    text-align: middle;
    width: 252px
    }
.calibre59 {
    height: 57px;
    text-align: middle;
    width: 60px
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre60 {
    height: 100px;
    text-align: middle;
    width: 345px
    }
.calibre61 {
    height: 208px;
    text-align: middle;
    width: 277px
    }
.calibre62 {
    height: 397px;
    text-align: middle;
    width: 310px
    }
.calibre63 {
    height: 470px;
    text-align: middle;
    width: 700px
    }
.calibre64 {
    height: 258px;
    text-align: middle;
    width: 253px
    }
.calibre65 {
    height: 435px;
    text-align: middle;
    width: 600px
    }
.calibre66 {
    height: 336px;
    text-align: middle;
    width: 224px
    }
.calibre67 {
    height: 417px;
    text-align: middle;
    width: 308px
    }
.calibre68 {
    height: 279px;
    text-align: middle;
    width: 281px
    }
.calibre69 {
    height: 236px;
    text-align: middle;
    width: 233px
    }
.calibre7 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre70 {
    height: 369px;
    text-align: middle;
    width: 296px
    }
.calibre71 {
    height: 202px;
    text-align: middle;
    width: 600px
    }
.calibre72 {
    height: 306px;
    text-align: middle;
    width: 307px
    }
.calibre73 {
    height: 197px;
    text-align: middle;
    width: 303px
    }
.calibre74 {
    height: 356px;
    text-align: middle;
    width: 309px
    }
.calibre75 {
    height: 500px;
    text-align: middle;
    width: 412px
    }
.calibre76 {
    height: 419px;
    text-align: middle;
    width: 625px
    }
.calibre77 {
    height: 792px;
    text-align: middle;
    width: 588px
    }
.calibre78 {
    height: 163px;
    text-align: middle;
    width: 295px
    }
.calibre79 {
    height: 468px;
    text-align: middle;
    width: 600px
    }
.calibre8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
    }
.calibre80 {
    height: 324px;
    text-align: middle;
    width: 600px
    }
.calibre81 {
    height: 769px;
    text-align: middle;
    width: 600px
    }
.calibre82 {
    height: 280px;
    text-align: middle;
    width: 274px
    }
.calibre83 {
    height: 204px;
    text-align: middle;
    width: 307px
    }
.calibre84 {
    height: 158px;
    text-align: middle;
    width: 270px
    }
.calibre85 {
    height: 271px;
    text-align: middle;
    width: 309px
    }
.calibre86 {
    height: 352px;
    text-align: middle;
    width: 500px
    }
.calibre87 {
    height: 596px;
    text-align: middle;
    width: 600px
    }
.calibre88 {
    height: 584px;
    text-align: middle;
    width: 600px
    }
.calibre89 {
    height: 577px;
    text-align: middle;
    width: 600px
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: center;
    text-indent: 0
    }
.calibre90 {
    height: 374px;
    text-align: middle;
    width: 700px
    }
.calibre91 {
    height: 276px;
    text-align: middle;
    width: 275px
    }
.calibre92 {
    height: 489px;
    text-align: middle;
    width: 700px
    }
.calibre93 {
    height: 123px;
    text-align: middle;
    width: 258px
    }
.calibre94 {
    height: 443px;
    text-align: middle;
    width: 700px
    }
.calibre95 {
    height: 367px;
    text-align: middle;
    width: 257px
    }
.calibre96 {
    height: 313px;
    text-align: middle;
    width: 309px
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
