.calibre {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.57143em;
    line-height: 1.2;
    margin: 0.5em
    }
.calibre2 {
    display: block
    }
.calibre3 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 0
    }
.calibre4 {
    display: block;
    font-family: heiti;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2em;
    margin: 0
    }
.calibre5 {
    color: #000;
    display: block;
    font-size: 1.42857em;
    font-weight: 800;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre6 {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre7 {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre8 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    margin: 2em 1em 0
    }
.calibre10 {
    display: block;
    font-family: kaiti;
    font-size: 1.14286em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre11 {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.calibre12 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre13 {
    color: black
    }
.calibre14 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre15 {
    color: #000;
    display: block;
    font-size: 1.28571em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre16 {
    display: block;
    margin: 1em 1em 0
    }
.calibre17 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre18 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre19 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    display: list-item;
    list-style-type: none
    }
.calibre21 {
    text-decoration: none
    }
.center {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.center1 {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.chatu {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    text-align: center
    }
.chatu1 {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chubanshe {
    bottom: 12%;
    display: block;
    font-family: fzlth;
    font-size: 1em;
    left: 0%;
    line-height: 1.2;
    margin-left: 0%;
    margin-top: 2em;
    position: absolute;
    text-align: center;
    width: 100%
    }
.fnote {
    display: block;
    font-size: 0.85714em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 2em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    border-top: gray solid 1px
    }
.hidden {
    color: #000;
    display: none;
    font-size: 1.42857em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.28571em;
    line-height: 1.2;
    text-indent: 2em
    }
.kaiti1 {
    display: block;
    font-family: kaiti
    }
.kaiti2 {
    display: block;
    font-family: kaiti;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.kaiti3 {
    display: block;
    font-family: kaiti;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti4 {
    display: block;
    font-family: kaiti;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti5 {
    font-family: kaiti
    }
.shuming {
    display: block;
    font-family: songti;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.tushuo {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.u {
    line-height: 1.2;
    padding-bottom: 2px;
    border-bottom: #000 solid 1px
    }
.width {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 60%;
    padding: 0;
    margin: 0
    }
.width1 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 40%;
    padding: 0;
    margin: 0
    }
.pcalibre:hover {
    color: red
    }
