<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>龙吻</string>
	<key>book-info</key>
	<dict>
		<key>package-file-hash</key>
		<string>6CFCCDD09113E88C1A1FE89EB9912076</string>
		<key>publisher-unique-id</key>
		<string>2867</string>
		<key>unique-id</key>
		<integer>1916834155056901273</integer>
	</dict>
	<key>genre</key>
	<string>世界上最神奇的30个经典定律</string>
	<key>itemName</key>
	<string>世界上最神奇的30个经典定律</string>
	<key>playlistName</key>
	<string>世界上最神奇的30个经典定律</string>
	<key>releaseDate</key>
	<string></string>
</dict>
</plist>
