.calibre {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.72222em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.calibre2 {
    display: block;
    font-size: 1.72222em;
    line-height: 1.2;
    margin: 0.5em
    }
.calibre3 {
    display: block
    }
.calibre4 {
    color: black;
    line-height: 1.2
    }
.calibre5 {
    color: #000;
    display: block;
    font-size: 1.72222em;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre6 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.calibre9 {
    display: block;
    font-size: 1.72222em;
    font-weight: 800;
    line-height: 1.2;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0 0.5em
    }
.calibre10 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800
    }
.calibre11 {
    height: auto;
    width: auto
    }
.calibre12 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre13 {
    display: block;
    font-size: 1.72222em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre14 {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0
    }
.calibre15 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre16 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.2
    }
.chatu {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chatu1 {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    text-align: center
    }
.chubanshe {
    bottom: 12%;
    display: block;
    font-family: fzlth;
    font-size: 1em;
    left: 0%;
    line-height: 1.2;
    margin-left: 0%;
    margin-top: 2em;
    position: absolute;
    text-align: center;
    width: 100%
    }
.grey {
    background-color: #DCDCDC;
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    padding: 0;
    margin: 0 5pt
    }
.h-pic {
    height: 3em;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.72222em;
    line-height: 1.2;
    text-indent: 2em
    }
.kaiti1 {
    display: block;
    font-family: kaiti
    }
.kaiti2 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti3 {
    font-family: kaiti
    }
.roundsolid {
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    display: block;
    border: currentColor solid 1px;
    padding: 0.8em 0.5em;
    margin: 1em 0.5em
    }
.sgc-toc-level {
    display: block;
    font-family: heiti;
    font-size: 1.72222em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.sgc-toc-level1 {
    display: block;
    font-family: fzlth;
    font-size: 0.77419em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0.5em 1em
    }
.shuming {
    display: block;
    font-family: songti;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.tsbiaoti {
    display: block;
    font-family: kaiti;
    font-size: 1.72222em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.xiao {
    font-size: 1em;
    line-height: 1.2;
    margin-top: 1em;
    text-indent: 0
    }
