.article-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: transparent;
    color: #333;
    display: block;
    font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    overflow: auto;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    padding: 0
    }
.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin: 0 0;
    padding: 0
    }
.calibre1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0
    }
.calibre2 {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none
    }
.calibre4 {
    color: #4183c4;
    font-size: 1em;
    line-height: 0;
    text-decoration: none
    }
.calibre5 {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre6 {
    background-color: transparent;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 0
    }
.calibre7 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 30px
    }
.calibre8 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    text-indent: 2em;
    margin: 0 0 16px
    }
.calibre9 {
    -moz-box-sizing: border-box;
    background: transparent;
    box-sizing: border-box;
    color: #4183c4;
    text-decoration: none
    }
.calibre10 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold
    }
.calibre11 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre12 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: list-item
    }
.calibre13 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre14 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    padding-bottom: 0.3em;
    position: relative;
    margin: 1em 0 16px;
    border-bottom: #eee solid 1px
    }
.calibre15 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 0 16px
    }
.calibre16 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    display: block;
    font-size: 0.70588em;
    font-style: italic;
    margin: 0 0 16px;
    border-left: #ddd solid 4px;
    padding: 0 15px 0 20px
    }
.calibre17 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0
    }
.calibre18 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block
    }
.calibre19 {
    -moz-box-sizing: border-box;
    background: none;
    background-color: transparent;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    font-size: 0.88889em;
    line-height: 0;
    max-width: initial;
    overflow: initial;
    word-wrap: normal;
    margin: 0;
    border: currentColor none medium;
    padding: 0
    }
.calibre20 {
    -moz-box-sizing: border-box;
    background: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    box-sizing: border-box;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    font-size: 0.70588em;
    margin: 0 4px 0 5px;
    border: #ddd solid 1px;
    padding: 3px
    }
.calibre21 {
    -moz-box-sizing: border-box;
    background: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    box-sizing: border-box;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    font-size: 1em;
    margin: 0 4px 0 5px;
    border: #ddd solid 1px;
    padding: 3px
    }
.calibre22 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    width: auto;
    margin: 8px 0;
    border: currentColor none 0
    }
.calibre23 {
    -moz-box-sizing: border-box;
    background: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    box-sizing: border-box;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    font-size: 0.70588em;
    margin: 0;
    border: #ddd solid 1px;
    padding: 3px
    }
.calibre24 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: decimal;
    margin-bottom: 16px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre25 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 16px 0
    }
.com {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #800
    }
.emoji {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 24px;
    max-width: 100%;
    width: 24px;
    margin: 8px 0;
    border: currentColor none 0
    }
.header-link {
    -moz-box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    box-sizing: border-box;
    color: #000;
    display: none;
    font-family: octicons-anchor;
    font-size: 0.5625em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none;
    user-select: none;
    vertical-align: middle
    }
.kwd {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #008
    }
.l {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: list-item;
    list-style-type: decimal;
    min-height: 0;
    }
.l1 {
    -moz-box-sizing: border-box;
    background: #eee;
    background-color: transparent;
    box-sizing: border-box;
    display: list-item;
    list-style-type: decimal;
    min-height: 0;
    }
.linenums {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.lit {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #066
    }
.markdown-toc {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-top: 0
    }
.markdown-toc-list {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    margin-bottom: 16px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.pln {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000
    }
.prettyprint {
    -moz-border-radius: 3px;
    -moz-box-sizing: border-box;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f6f6f6;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    font-size: 0.79412em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0 0 16px;
    border: #ddd solid 1px;
    padding: 10px
    }
.pun {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #660
    }
.str {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #080
    }
.typ {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #606
    }
.pcalibre2:before {
    content: ""
    }
.pcalibre3:before {
    content: normal;
    letter-spacing: -0.2em
    }
.pcalibre5:before {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre4:after {
    content: normal;
    letter-spacing: -0.2em
    }
.pcalibre6:after {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre1:hover {
    outline: 0;
    text-decoration: underline
    }
.pcalibre:active {
    outline: 0;
    text-decoration: underline
    }
